.main{
	width: var(--main-div-width);
	height: var(--main-div-height);
	background-color: var(--third-bg);
	color: var(--trird-color);
}

.container{
	width: var(--container-width);
	height: var(--container-height);
	padding: var(--container-padding);
	margin: var(--container-margin);
}