.main{
	width: var(--main-div-width);
	height: var(--main-div-height);
	background-color: var(--third-bg);
	color: var(--trird-color);
}

.container{
	width: var(--container-width);
	height: var(--container-height);
	padding: var(--container-padding);
	margin: var(--container-margin);
}

.boxText{
	padding: 2% 10%;
	animation-name: default;
	opacity: 0;
	animation-fill-mode: forwards;
}

@keyframes default {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.boxText:nth-child(1){
	animation-duration: 2s;
	animation-delay: 0.7s;
}
.boxText:nth-child(2){
	animation-duration: 2s;
	animation-delay: 1.4s;
}
.boxText:nth-child(3){
	animation-duration: 2s;
	animation-delay: 2.1s;
}

.boxText p{
	font-size: 20px;
}

.boxGaleria{
	width: 100%;
	height: 55%;
	padding: 0 2%;
}

.galeria{
	width: 100%;
	height: 70%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-wrap: nowrap;
}

.galeriaSingle{
	width: 20%;
	height: 100%;
	border: 1px solid black;
	background-color: #ccc;
	animation-name: default;
	opacity: 0;
	animation-fill-mode: forwards;
}

.galeriaSingle:nth-child(1){
	animation-duration: 2s;
	animation-delay: 2.8s;
}
.galeriaSingle:nth-child(2){
	animation-duration: 2s;
	animation-delay: 3.3s;
}
.galeriaSingle:nth-child(3){
	animation-duration: 2s;
	animation-delay: 3.8s;
}
.galeriaSingle:nth-child(4){
	animation-duration: 2s;
	animation-delay: 4.3s;
}
.galeriaSingle:nth-child(5){
	animation-duration: 2s;
	animation-delay: 4.8s;
}